/*!************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/assets/style.css ***!
  \************************************************************************/
#body-container{
    background-color: red;
    color: white;
}
/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pgs/pg1.css ***!
  \*******************************************************************/
#pg1-container{
    background-color: rgb(112, 104, 111);
    color: rgb(0, 0, 0);
}
/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pgs/pg2.css ***!
  \*******************************************************************/
#pg2-container{
    background-color: rgb(95, 95, 95);
    color: rgb(236, 120, 120);
}
/*!*******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/pgs/pg3.css ***!
  \*******************************************************************/
#pg3-container{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
